[user]
	email = scott.mcnew@canonical.com
	name = Richard Scott McNew
[gitubuntu]
	lpuser = richard-scott-mcnew
[log]
    decorate = short
[commit]
    verbose = true
[merge]
    summary = true
    stat = true
	tool = vimdiff
[core]
    whitespace = trailing-space,space-before-tab
    pager = delta

[interactive]
    diffFilter = delta --color-only

[diff "ruby"]
    funcname = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
    textconv = identify
[url "git+ssh://richard-scott-mcnew@git.launchpad.net/"]
    insteadof = lp:
[url "git+ssh://richard-scott-mcnew@git.launchpad.net/"]
    insteadof = https://git.launchpad.net
[diff]
	tool = meld
[alias]
	vimdiff = difftool -t vimdiff -y
    melddiff = difftool -t meld
    deltadiff = difftool -t delta
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true  # dark mode
[init]
	defaultBranch = main
